<a href="https://colab.research.google.com/github/LabialzernanJRT/CPE-103-OOP-1-A/blob/main/Laboratory_Activity_No_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assigning variables of different data types in Python***

**NO**. 1

In [1]:
value = 5
print(5)

5

**NO. 2**

In [2]:
type(value)

int

**NO. 3**

In [42]:
value = 5.0
print(type(5.0))

<class 'float'>

**NO. 4**

In [43]:
value = value
print(type(value))

<class 'float'>

**NO. 5**

In [44]:
value = 2+3j
print(type(2+3j))

<class 'complex'>

In [45]:
value = 'Hello World'
print(type('Hello World'))

<class 'str'>

In [47]:
value = "Hello World"
print(type("Hello World"))

<class 'str'>

In [48]:
value = True
print(type(True))

<class 'bool'>

In [49]:
value = False
print(type(False))

<class 'bool'>

In [50]:
value = [1,2,3,4,5]
print(type([1,2,3,4,5]))

<class 'list'>

In [51]:
value = (1,2,3,4,5)
print(type((1,2,3,4,5)))

<class 'tuple'>

In [52]:
value = { 'name': 'Your_name' }
print(type({ 'name': 'Your_name' }))

<class 'dict'>

In [53]:
value = None
print(type(None))

<class 'NoneType'>

**NO**. **6**

In [55]:
value = 5
value2 = -6
print(type(value),type(value2))

<class 'int'> <class 'int'>

***Performing Operations with Python***

**Num. 1**

In [79]:
value, value2 = 5, -6
print(value + value2)

-1

**Num. 2**

In [85]:
#a :
value, value2 = 5.0, 6
print(value + value2)

#b :
value, value2 = -5, 6.1
print(value + value2)

#c :
value, value2 = "Hello"," "'world'
print(value + value2)

#d :
value, value2 = [1,2,3], [4,5,6]
print(value + value2)

#e :
value, value2 = (1,2,3), (4,5,6)
print(value + value2)

#f :
value, value2 = {"name":"Royce"}, {'age':2}
value.update(value2)
print(value)

11.0
1.0999999999999996
Hello world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Royce', 'age': 2}

**Num. 3**

In [76]:
value, value2 = 30, 4

#a
print(value*value2)

#b :
print(value2**2)

#c :
print(value2**3)

#d :
print(value*value2+value2**2+1)

#e :
print(value/value2)

#f :
print(value%value2)

120
16
64
137
7.5
2

**Receiving Input Data using Python**

In [92]:
print(input("Message Name"))

Message Namelabia
labia

In [94]:
name = input("Enter your name: ")

Enter your name: labial

**Assigning Input Data to a Variable**

In [103]:
name = input("Enter your name ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height "))
bmi = weight/(height**2)
print(bmi)

Enter your name John Ray
Enter your weight(kg): 60
Enter your height 1.6764
21.349904958763087

***Supplementary Activity:***

**Tasks #1**

In [112]:
base = 0
height = 0
area = 0

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (base*height)/2
print("The area of the triangle is " + str(area))

Enter the base of the triangle: 10
Enter the height of the triangle: 20
The area of the triangle is 100.0

**Tasks #2**

In [116]:
celcius = float(input("Enter the temperature in celcius: "))
fahrenheit = (celcius*9/5)+32
print("The temperature in fahrenheit is " + str(fahrenheit))

Enter the temperature in celcius: 0
The temperature in fahrenheit is 32.0

**Tasks #3**

In [117]:
x2, y2 = float(input("Enter the x2: ")), float(input("Enter the y2: "))
x1, y1 = float(input("Enter the x1: ")), float(input("Enter the y1: "))
distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print("The distance between the two points is " + str(distance))

Enter the x2: -3
Enter the y2: 3
Enter the x1: 2
Enter the y1: 2
The distance between the two points is 5.0990195135927845