<a href="https://colab.research.google.com/github/LabialzernanJRT/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Booolean Operation***

In [7]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

***bool() Function***

In [15]:
print(bool("true"))
print(bool())
print(bool("false"))
print(bool({}))
print(bool([]))

True
False
True
False
False

***Function can return Boolean***

In [24]:
def myfuntion():
  return True

  print(myfuntion())

In [29]:
def myfuntion():
  return False

if myfuntion():
    print("YES!")
else:
    print("NO!")

NO!

In [31]:
print(10 > 9)

a=0
b=7
print(a==b)
print(a!=a)

True
False
False

***Python Operators***

In [40]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10**5)
print(10%5)

15
5
50
2.0
2
100000
0

***Bitwise Operator***

In [69]:
a = 60
b = 13
print(bin(-61))
print(int("111101",2))
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

-0b111101
61
12
61
49
-61
240
15

***Python Assignment Operator***

In [66]:
x=10

x+=3
print(x)

x-=3
print(x)

x*=3
print(x)

x/=3
print(x)

x%=3
print(x)

x//=3
print(x)

x**=3
print(x)

13
10
30
10.0
1.0
0.0
0.0

***Logical Operator***

In [76]:
print(10 < 9 and 10 > 9)
print(10 < 9 and not 10 < 9)
print(10 < 9 or 10 < 9)
print(not 10 < 9)

False
False
False
True

***Identity***

In [80]:
x = 1
y = 2
print(x is y)
print(x is not y)
print(x is x)
print(x is not x)

False
True
True
False
False

***Conditional Statement***

***if statement***

In [83]:
a = 12
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

In [84]:
a = 12
b = 100
if b < a: #reversed
  print("b is greater than a")

***Eif(else if) Statement***

In [85]:
a = 12
b = 12
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

***Else Statement***

In [86]:
a = 200
b = 58
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

***Short Hand if, else Statement***

In [89]:
if a > b: print("a is greater than b")

c = 2
d = 330
print("c is greater than d") if c > d else print("d is greater than c")

a is greater than b
d is greater than c

***And-Both condtions are True***

In [91]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

***Or-atlease one of the condtions is true***

In [90]:
a = 200
b = 33
c = 500
if a > b  or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

***Nested if, else***

In [121]:
x = 30

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
    if x > 30:
      print("and also above 30!")
      if x > 40:
        print("and also above 40!")
        if x > 50:
          print("and also above 50!")
        else:
           print("but not above 50.")
      else:
         print("but not above 40.")
    else:
       print("but not above 30.")
  else:
     print("but not above 20.")
else:
   print("but not above 10.")

Above ten,
and also above 20!
but not above 30.

***Example #1***

In [123]:
age = int(input("Enter Age: "))

if age >= 18: print("You are eligible to vote")
else: print("You are not eligible to vote")

Enter Age: 22
You are eligible to vote

***Example #2***

In [127]:
number = int(input("Input a Number:"))

if number > 0: print("Number is positive")
if number < 0: print("Number is negative")
else: print("Number is zero")

Input a Number:-12
Number is negative

***Example #3***

In [132]:
grade = int(input("Input a Grade: "))

if grade > 75: print("Passed")
if grade == 75: print("Remedial")
elif grade < 75: print("Failed")

Input a Grade: 75
Remedial