<a href="https://colab.research.google.com/github/LabialzernanJRT/CPE-103-OOP-1-A/blob/main/Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [15]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Python Comment

In [69]:
#print the world "hello world" << this is the comment
print("Hello, World!")

Hello, World!

Variable Naming Conventions

In [70]:
myvar = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Python Variable

In [71]:
x = 1
a, b=0,-1
a, b, c=0,-1, 2

Casting

In [72]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

b=float(4)
print(b)

4
4.0
4.0

Type() function

In [30]:
x = 5
y = "John"
print(type(x))
print(type(y))
print(type(y))

<class 'int'>
<class 'str'>
<class 'str'>

“Double quotes” or ‘Single’ quotes

In [32]:
y = "John"
y = 'John'

Case sensitive

In [34]:
a = 4
A = "Sally"

Multiple Variables

In [37]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [68]:
x = y = z = "four"
print(x)
print(y)
print(z)
print(z)

four
four
four
four

Output Variables

In [44]:
x = "enjoying"
print("Python programming is " + x)

#other ways
x = "Python is "
y = "enjoying"
z = x + y
print(z)
print(z)
print(z)
print(z)

Python programming is enjoying
Python is enjoying
Python is enjoying
Python is enjoying
Python is enjoying

Arithmetic Operations

In [73]:
# Addition ( + )
# x + y

# Substraction( - )
# x - y


# Multiplication ( * )
# x * y


# Division ( / )
# x / y


# Exponentiation ( ** )
# x ** y


# Modulus ( % )
# x % y


# Floor division ( // )
# x // y


#Example:
x = 5
y = 3
print (x + y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [74]:
# Assignment Operators

# =	x = 5	x = 5
x = 5
print(x)

# +=	x += 3	x = x + 3
x += 3  # Equivalent to x = x + 3
print(x)

# -=	x -= 3	x = x - 3
x -= 3  # Equivalent to x = x - 3
print(x)

# *=	x *= 3	x = x * 3
x *= 3  # Equivalent to x = x * 3
print(x)

# /=	x /= 3	x = x / 3
x /= 3  # Equivalent to x = x / 3
print(x)

# %=	x %= 3	x = x % 3
x %= 3  # Equivalent to x = x % 3
print(x)

# //=	x //= 3	x = x // 3
x = 5 #reset x
x //= 3  # Equivalent to x = x // 3
print(x)

# **=	x **= 3	x = x ** 3
x **= 3  # Equivalent to x = x ** 3
print(x)

# &=	x &= 3	x = x & 3
x = 5 #reset x
x &= 3  # Equivalent to x = x & 3
print(x)

# |=	x |= 3	x = x | 3
x |= 3  # Equivalent to x = x | 3
print(x)

# ^=	x ^= 3	x = x ^ 3
x ^= 3  # Equivalent to x = x ^ 3
print(x)

# >>=	x >>= 3	x = x >> 3
x >>= 3  # Equivalent to x = x >> 3
print(x)

# <<=	x <<= 3	x = x << 3
x <<= 3  # Equivalent to x = x << 3
x

5
8
5
15
5.0
2.0
1
1
1
3
0
0

0

Comparison Operators

In [60]:
# Comparison Operators

# ==	Equal	x == y
x = 5
y = 3
print(x == y)  # Output: False

# !=	Not equal	x != y
print(x != y)  # Output: True

# >	Greater than	x > y
print(x > y)  # Output: True

# <	Less than	x < y
print(x < y)  # Output: False

# >=	Greater than or equal to	x >= y
print(x >= y)  # Output: True

# <=	Less than or equal to	x <= y
print(x <= y)  # Output: False

False
True
True
False
True
False

Logical Operators

In [75]:
# Logical Operators

# and Returns True if both statements are true
x = 5
print(x > 3 and x < 10)  # Output: True

# or Returns True if one of the statements is true
print(x > 3 or x < 4)  # Output: True

# not Reverse the result, returns False if the result is true
print(not(x > 3 and x < 10))  # Output: False

# Logical Operators

# and Returns True if both statements are true
x = 5
print(x > 3 and x < 10)  # Output: True

# or Returns True if one of the statements is true
print(x > 3 or x < 4)  # Output: True

# not Reverse the result, returns False if the result is true
print(not(x > 3 and x < 10))  # Output: False

# Example:
a,b,c=0,-1,6
print(a>b and c>b) #True

True
True
False
True
True
False
True

Identity Operators

In [66]:
# Identity Operators

# is Returns True if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)  # Output: True (x and z refer to the same object)
print(x is y)  # Output: False (x and y have the same content, but are different objects)
print(x == y)  # Output: True (x and y have the same content)

# is not Returns True if both variables are not the same object
print(x is not z)  # Output: False
print(x is not y)  # Output: True
print(x != y)  # Output: False

# Identity Operators

# is Returns True if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)  # Output: True (x and z refer to the same object)
print(x is y)  # Output: False (x and y have the same content, but are different objects)
print(x == y)  # Output: True (x and y have the same content)

# is not Returns True if both variables are not the same object
print(x is not z)  # Output: False
print(x is not y)  # Output: True
print(x != y)  # Output: False

# Example:
a,b,c=0,-1,5
print(a is c) # False

True
False
True
False
True
False
True
False
True
False
True
False
False

Bitwise Operators

In [76]:
# Bitwise Operators

# &	AND	Sets each bit to 1 if both bits are 1
print(5 & 3)  # Output: 1 (Binary: 101 & 011 = 001)

# |	OR	Sets each bit to 1 if one of two bits is 1
print(5 | 3)  # Output: 7 (Binary: 101 | 011 = 111)

# ^	XOR	Sets each bit to 1 if only one of two bits is 1
print(5 ^ 3)  # Output: 6 (Binary: 101 ^ 011 = 110)

# ~	NOT	Inverts all the bits
print(~5)  # Output: -6 (Binary: ~101 = -110)

# <<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(5 << 1)  # Output: 10 (Binary: 101 << 1 = 1010)

# >>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(5 >> 1)  # Output: 2 (Binary: 101 >> 1 = 010)


# Examples
a = 10  # Binary: 1010
b = 4   # Binary: 0100

print(a & b)  # Output: 0 (1010 & 0100 = 0000)
print(a | b)  # Output: 14 (1010 | 0100 = 1110)
print(a ^ b)  # Output: 14 (1010 ^ 0100 = 1110)
print(~a)   # Output: -11 (Inverts bits of a)
print(a << 2) # Output: 40  (1010 << 2 = 101000)
print(a >> 2) # Output: 2   (1010 >> 2 = 0010)

1
7
6
-6
10
2
0
14
14
-11
40
2

Application #1

In [91]:
# Application First

#Area of plane Rectangle, Circle, and Triangle in cm

# Area of the Rectangle
length = 20
height = 10
area = length * height
print("Area(Rectangle) =", area ,"sq.cm")

# Area of the Circle
pi = 3.1416
radius = 10
area = 3.1416 * (radius ** 2)
print("Area(Circle) =", area ,"sq.cm")

# Area of the Triangle
length = 10
height = 5
area = 0.5 * length * height
print("Area(Triangle) =", area ,"sq.cm")

Area(Rectangle) = 200 sq.cm
Area(Circle) = 314.15999999999997 sq.cm
Area(Triangle) = 25.0 sq.cm